<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,58}}</string>
                <key>sourceSize</key>
                <string>{142,58}</string>
            </dict>
            <key>B1S.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{142,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,58}}</string>
                <key>sourceSize</key>
                <string>{142,58}</string>
            </dict>
            <key>backtotopnormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,290},{100,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,30}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>backtotoppressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,250},{100,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,30}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>btn-a-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn-a-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn-a-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,122},{98,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn-about-normal-vertical.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,102},{42,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,125}}</string>
                <key>sourceSize</key>
                <string>{42,125}</string>
            </dict>
            <key>btn-about-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,202},{125,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,42}}</string>
                <key>sourceSize</key>
                <string>{125,42}</string>
            </dict>
            <key>btn-about-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,202},{125,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,42}}</string>
                <key>sourceSize</key>
                <string>{125,42}</string>
            </dict>
            <key>btn-b-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,102},{98,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn-b-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,102},{98,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn-b-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,102},{98,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn-back-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,202},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>btn-back-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,282},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>btn-highscores-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,246},{125,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,42}}</string>
                <key>sourceSize</key>
                <string>{125,42}</string>
            </dict>
            <key>btn-highscores-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{125,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,42}}</string>
                <key>sourceSize</key>
                <string>{125,42}</string>
            </dict>
            <key>btn-play-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,290},{125,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,42}}</string>
                <key>sourceSize</key>
                <string>{125,42}</string>
            </dict>
            <key>btn-play-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,246},{125,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,42}}</string>
                <key>sourceSize</key>
                <string>{125,42}</string>
            </dict>
            <key>btn-test-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{150,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,48}}</string>
                <key>sourceSize</key>
                <string>{150,48}</string>
            </dict>
            <key>btn-test-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{150,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,48}}</string>
                <key>sourceSize</key>
                <string>{150,48}</string>
            </dict>
            <key>btn-test-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,52},{150,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,48}}</string>
                <key>sourceSize</key>
                <string>{150,48}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,222},{72,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,53}}</string>
                <key>sourceSize</key>
                <string>{72,53}</string>
            </dict>
            <key>bullet_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,290},{28,42}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{28,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>enemy.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,222},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>flyer.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,282},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>use.png</string>
            <key>size</key>
            <string>{498,334}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3981e0dc7b76c97e405fdae4f5cd8356:6fdbbec8d0365dfc3e7d21d3fc6d7e6f:9a646223d303be6d13e3261d6f4ad402$</string>
            <key>textureFileName</key>
            <string>use.png</string>
        </dict>
    </dict>
</plist>
